<div class="row">
    <div class="col">
        {{{dinos_towalk}}}
    </div>
    <div class="col">
        <button>Walk the dinosaur!</button>
    </div>
    <div class="col">
        {{{dinos_done}}}
    </div>
</div>