<div class="row">
    <div class="col">
        {{{dinos_towalk}}}
    </div>
    <div class="col">
        <button id="dinobtn">Add a dinosaur!</button>
    </div>
    <div id="dinolist" class="col">
        <button id="donebtn">Walk the dinosaur!</button>
    </div>
    <div class="col">
        {{{dinos_done}}}
    </div>
</div>